
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Syncopate);	
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


.navbar {
	border-radius: 0px;
	background-color: #273446;
	font-family: Syncopate;
}

li, .footer {
	font-size: 0.7em;
}

body {
}

.home{
    font-size: 20px;
}

.highlight{
    font-size: 20px;
}

