<!DOCTYPE html>
<html lang="en" ng-app="ChirperApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snowcast</title>

    <link rel="stylesheet" href="/css/main.css">



</head>

<body>

<div class="container">
    <div id="home" class="home">
        <div class="row text-center">
        <h1>What is Snowcast?</h1>
            <p>Snowcast is a website the aggregates data from NWAC, Weather2 and WSDOT
                to provide snow sports enthusiasts with a hub of the most important and up-to-date
                information to help them have the most fun possible.</p>
        </div>
    </div>

    <div class="container">
        <div id="highlight" class="highlight">
            <h2 class="text-center">Highlighted Ski Resort: Mt.Baker</h2>
            <p >The highlighted ski resort for this week is Mt.Baker.<img src="/img/Mt.Baker.jpg" style="width: 400px" align="right"> Mt. Baker Ski Area, in Northern Washington, is a powderhound mecca.
                The ski area averages the most annual snowfall, 641 inches, in the entire world and holds the record for most
                snowfall in a single season, 1,140 inches in the '98-'99 season.
                The ski area also annually plays host to the largest snowboard race in the world with 240 competitors
                in its Legendary Banked Slalom. Guests can benefit from the Baker Bus,
                transportation provided throughout the Whatcom County to Mt. Baker. </p>

            <p>Our highlighted ski resort is picked based on user reviews on our website. Make sure to get your reviews in and
            we may pick your favorite resort! If your favorite resort is picked, good for you you have good taste in ski
            resorts!</p>

        </div>
    </div>
</div>

</body>

</html>
