
<div class="container">
    <div id="home" class="home">
        <div class="class=col-md-12">
        <h1 class="text-center">What is Snowcast?</h1>
            <p class="text-center">Snowcast is a website the aggregates weather data
                to provide snow sports enthusiasts with a hub of the most important and up-to-date
                information to help them have the most fun possible. You can review your favorite ski resort, look at snow reports, checkout the snow forecast page and create an account!</p>
        </div>
    </div>

    <div class="container">
        <div id="highlight" class="highlight">
            <div class="col-md-6">
            <h2 class="text-center">Highlighted Ski Resort: Crystal Mountain</h2>
            <p >The highlighted ski resort for this week is Crystal Mountain. Crystal Mountain is a mountain and alpine
                ski area in the western United States, in the Cascade Range of Washington, southeast of Seattle.
                Located in the Mount Baker-Snoqualmie National Forest, Crystal is the largest ski resort in
                the state and is readily accessible from the Seattle-Tacoma metropolitan area through Enumclaw via
                Highway 410. It is primarily a day-use area, with nine chairlifts, various dining locations,
                and multiple hotels. Crystal is home to the Mt. Rainier Gondola; installed in 2010, it provides
                year-round access to the resort's summit and is the state's only high-speed gondola. </p>

            <p>Our highlighted ski resort is picked based on user reviews on our website. Make sure to get your reviews in and
            we may pick your favorite resort! If your favorite resort is picked, good for you you have good taste in ski
            resorts!</p>
            </div>
            <div class="col-md-6 hidden-xs" id ="CrystalMtnPic"><img id="crystalPic" src="/img/CrystalMtn2.jpg"> </div>

        </div>
    </div>
</div>

