
<div class="container">
    <div id="home" class="home">
        <div class="row">
            <div class="class=col-md-12">
            <h1 class="text-center">What is Snowcast?</h1>
                <p class="text-center">Snowcast is a website the aggregates weather and road data
                    to provide snow sports enthusiasts with a hub of the most important and up-to-date
                    information to help them have the most fun possible. You can checkout the snow forecast and current
                    conditions of your favorite resort with Snowcast, look at snow reports with Snowports, review your 
                    favorite ski resort with Snowviews, and create an account! The home page shows
                    you which resort has the most number of runs open today!</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="crystalHighlight" class="highlight" ng-show="mostRunsOpen[0]">
                <div class="col-xs-12 col-md-6">
                    <h2 class="text-center">Highlighted Ski Resort: Crystal Mountain</h2>
                    <p >The highlighted ski resort for this week is Crystal Mountain. Crystal Mountain is a mountain and alpine
                        ski area in the western United States, in the Cascade Range of Washington, southeast of Seattle.
                        Located in the Mount Baker-Snoqualmie National Forest, Crystal is the largest ski resort in
                        the state and is readily accessible from the Seattle-Tacoma metropolitan area through Enumclaw via
                        Highway 410. It is primarily a day-use area, with nine chairlifts, various dining locations,
                        and multiple hotels. Crystal is home to the Mt. Rainier Gondola; installed in 2010, it provides
                        year-round access to the resort's summit and is the state's only high-speed gondola. </p>

                    <p>Our highlighted ski resort is picked based on the resort with the most runs currently open. Make sure to get your reviews in and
                    we may pick your favorite resort! If your favorite resort is picked, good for you you have good taste in ski
                    resorts!</p>
                </div> 

                <div class="col-xs-12 col-md-6" id = "CrystalMtnPic">
                    <img src="img/CrystalMtn2.jpg"  align="center" > 
                </div>
            </div> <!-- End Highlight -->

            <div id="stevensHighlight" class="highlight" ng-show="mostRunsOpen[2]">
                <div class="col-xs-12 col-md-6">
                    <h2 class="text-center">Highlighted Ski Resort: Stevens Pass</h2>
                    <p >Located on the crest of the Cascade Range, we receive abundant and frequent snowfall. Cool air often 
                    drifts from the eastern slope of the range through the Stevens Pass area, keeping our snow relatively dry. 
                    Stevens is located on two national forests, the Mt. Baker-Snoqualmie on the west side of the crest and the 
                    Wenatchee National Forest on the east. Our forested area is predominately Pacific Silver Fir, Mountain Hemlock, 
                    and Subalpine Fir, offering a visual treat when covered by fresh snowfall. The winter weather is usually comfortable, 
                    with temperatures often in the mid-twenties.</p>

                    <p>Our highlighted ski resort is picked based on the resort with the most runs currently open. Make sure to get your reviews in and
                    we may pick your favorite resort! If your favorite resort is picked, good for you you have good taste in ski
                    resorts!</p>
                </div> 

                <div class="col-md-6 hidden-xs" id = "CrystalMtnPic">
                    <img id="crystalPic" src="img/CrystalMtn2.jpg"  align="center" > 
                </div>
            </div> <!-- End Highlight -->

            <div id="bakerHighlight" class="highlight" ng-show="mostRunsOpen[1]">
                <div class="col-xs-12 col-md-6">
                    <h2 class="text-center">Highlighted Ski Resort: Mt. Baker</h2>
                    <p >Mt. Baker Ski Area, in Northern Washington, is a powderhound mecca. The ski area averages the most annual snowfall, 
                    641 inches, in the entire world and holds the record for most snowfall in a single season, 1,140 inches in the '98-'99 season. 
                    The ski area also annually plays host to the largest snowboard race in the world with 240 competitors in its Legendary Banked Slalom. 
                    Guests can benefit from the Baker Bus, transportation provided throughout the Whatcom County to Mt. Baker.</p>

                    <p>Our highlighted ski resort is picked based on the resort with the most runs currently open. Make sure to get your reviews in and
                    we may pick your favorite resort! If your favorite resort is picked, good for you you have good taste in ski
                    resorts!</p>
                </div> 

                <div class="col-xs-12 col-md-6" id = "CrystalMtnPic">
                    <img src="img/CrystalMtn2.jpg"  align="center" > 
                </div>
            </div> <!-- End Highlight -->
        </div>
    </div>
</div>

